.imgStyle {
  height: 100%;
  width: 100%;
  border-radius: 3%;
 
}

.container {
  position: relative;
  text-align: center;
  color: white;
}
.bottom-left {
  position: absolute;
  bottom: 5px;
  left: 22px;
  text-align: left;
 
}
